# Amazon Reviews

written in Google Colab using Amazon S3, Amazon RDS and PySpark

by Nicole Lund
1. Extract review data from S3
2. Transform the data to match the provided schema file
3. Load the data to RDS

### Selected Data Source

EBooks
* https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Digital_Ebook_Purchase_v1_01.tsv.gz
* https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Digital_Ebook_Purchase_v1_00.tsv.gz

### Required database schema

In [ ]:
# CREATE TABLE review_id_table (
#   review_id TEXT PRIMARY KEY NOT NULL,
#   customer_id INTEGER,
#   product_id TEXT,
#   product_parent INTEGER,
#   review_date DATE -- this should be in the formate yyyy-mm-dd
# );

# -- This table will contain only unique values
# CREATE TABLE products (
#   product_id TEXT PRIMARY KEY NOT NULL UNIQUE,
#   product_title TEXT
# );

# -- Customer table for first data set
# CREATE TABLE customers (
#   customer_id INT PRIMARY KEY NOT NULL UNIQUE,
#   customer_count INT
# );

# -- vine table
# CREATE TABLE vine_table (
#   review_id TEXT PRIMARY KEY,
#   star_rating INTEGER,
#   helpful_votes INTEGER,
#   total_votes INTEGER,
#   vine TEXT
# );

### Initialize Notebook Settings

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java

!pip install pyspark

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 59 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 41.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=587abd9a734997fec611014e4f0a03d56446d1f2c60807b5de95db4a3b449e2f
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2021-08-27 20:13:11--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.1s

2021-08-27 20:13:11 (5.97 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
# Import dependencies
from pyspark.sql import SparkSession
from pyspark import SparkFiles
from pyspark.sql.types import StructField, StringType, IntegerType, DateType, StructType
from pyspark.sql.functions import col

In [4]:
# Initialize Session
spark = SparkSession.builder.appName("reviews").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

### Setup RDS Access

In [5]:
# Collect RDS Credentials securely
from getpass import getpass
print('Input RDS URL in the jdbc:postgresql://<Endpoint>:5432/<DB identifier> format:')
jdbc_url = getpass()
print('Input RDS Password:')
password = getpass()

Input RDS URL in the jdbc:postgresql://<Endpoint>:5432/<DB identifier> format:
··········
Input RDS Password:
··········

In [6]:
# Configure RDS settings
mode = "append"
config = {"user":"postgres", 
          "password": password, 
          "driver":"org.postgresql.Driver"}

### Download and merge source data into one DataFrame

In [7]:
# Define Function: Read in data from S3 Buckets

def download(url):
  # Define struct fields that match the RDS schema
  schema_def = [ \
                StructField("marketplace", StringType(), True), \
                StructField("customer_id", IntegerType(), True), \
                StructField("review_id", StringType(), True), \
                StructField("product_id", StringType(), True), \
                StructField("product_parent", IntegerType(), True), \
                StructField("product_title", StringType(), True), \
                StructField("product_category", StringType(), True), \
                StructField("star_rating", IntegerType(), True), \
                StructField("helpful_votes", IntegerType(), True), \
                StructField("total_votes", IntegerType(), True), \
                StructField("vine", StringType(), True), \
                StructField("verified_purchase", StringType(), True), \
                StructField("review_headline", StringType(), True), \
                StructField("review_body", StringType(), True), \
                StructField("review_date", DateType(), True) \
              ]
  schema_struct = StructType(fields=schema_def)  

  # Retrieve file name  
  file = url[48:]
  print(f'Retrieving {file}')
  
  # Download file
  spark.sparkContext.addFile(url)
  reviews_df = spark.read.csv(SparkFiles.get(file), schema=schema_struct, sep="\t", header=True, inferSchema=True)

  # Display file info
  print(f'Number of records: {reviews_df.count()}')
  print(reviews_df.show())
  
  # Return DataFrame
  return reviews_df

In [8]:
# Download Data File 00
url_0 = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Digital_Ebook_Purchase_v1_00.tsv.gz"
reviews_0_df = download(url_0)

Retrieving amazon_reviews_us_Digital_Ebook_Purchase_v1_00.tsv.gz
Number of records: 12520722
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|    product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   35471030|R1C5OK9AND7PRP|B00AHK07V0|     175130663|Hunter's Moon (A ...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|Shugak is like a ...|This is the most ...| 2015-08-31|
|         US|   26579324|R333RNBQMPVUFT|B014085WTQ|     859232728|Flying Toward For...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|For the young hea...|This story holds ...| 2015-08-31|
|         US|    9152364|R2A2K0GTNSKXM1|B0113MFPN0|     411472516|Falling For A Rea...|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|          Five Stars|A true love story...| 2015-08-31|
|         US|   52087605|R365LAQ9REV876|B00T8RIK7G|     353828021|   The Good Neighbor|Digital_Ebook_Pur...|          3|            0|          0|   N|                Y|Not really my typ...|A bit contrived a...| 2015-08-31|
|         US|   46454660|R294OF3SNH6SWZ|B00EMXBDMA|     803172158|The Martian: A Novel|Digital_Ebook_Pur...|          4|            0|          0|   N|                Y|Coming soon to a ...|Moved well. Seeme...| 2015-08-31|
|         US|   33168429|R2OMRH58WYEEP9|B00GL3OJIY|     325772386|The Painter: A novel|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|        I liked it a|Very different an...| 2015-08-31|
|         US|   18546798| RBFXYUJZIH5JR|B00RW30QE8|     236508296|        METEOR STORM|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|The author delive...|Once I started re...| 2015-08-31|
|         US|   47463409|R2K2RSBNV42HU4|B0101AE85Q|     924272105|Diary of a Crazy ...|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|This book is amaz...|Super quality, gr...| 2015-08-31|
|         US|   11767467|R2CLRFFJ5HJSU3|B00IO7QAI2|     393059633|Unlocking Potenti...|Digital_Ebook_Pur...|          4|            0|          0|   N|                N|          Four Stars|    A useful primer.| 2015-08-31|
|         US|   14241457| RS1O7V45AADDO|B00PM995TG|     529331494|The Einstein Prop...|Digital_Ebook_Pur...|          4|            0|          0|   N|                Y|          Four Stars|   enjoyed the story| 2015-08-31|
|         US|   52821351| RYD2AF3KUC4OL|B00K4C4GVI|     310020786|Make It Ahead: A ...|Digital_Ebook_Pur...|          5|            2|          2|   N|                Y|Because of her I ...|This isn't the he...| 2015-08-31|
|         US|   14416837| RHQTCPUF1CXY2|B00PUSKG8I|     683060701|The Shipwreck of ...|Digital_Ebook_Pur...|          4|            0|          0|   N|                Y|Very interesting ...|This is a very qu...| 2015-08-31|
|         US|   17189419|R3371UTDP6I1FU|B00FNCSBCE|     813812785|20 Compelling Evi...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|           Excellent|For some reason I...| 2015-08-31|
|         US|   44043796|R2RI2S5Q90RG23|B004XFYN9M|     972973628|   What Alice Forgot|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|           good read|Good character de...| 2015-08-31|
|         US|   24135769| RCYE82T9GRT48|B00K0OI42W|     994527755|To Kill a Mocking...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|I last read it in...|This was a reread...| 2015-08-31|
|         US|   47496659|R12T8WK03VQNC5|B00N2HHPQU|     886553830|The Housewife Ass...|Digital_Ebook_Pur...|          4|            1|          1|   N|                Y|          Four Stars|           enjoyable| 2015-08-31|
|         US|   21051459|R3RVME26X4DGJX|B00ZPCLT0S|     296387019|Illusive (Storm M...|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|           Fantastic|Oh how UNFAIR thi...| 2015-08-31|
|         US|   45295639|R3BME7NLVCMJHW|B00QSNV82C|     506388384|A Mansion, A Drag...|Digital_Ebook_Pur...|          4|            0|          0|   N|                Y|          Four Stars|Light reading, ve...| 2015-08-31|
|         US|   14443051|R1PKMRYLDMVN2P|B00PQL9U4K|      26715694|         Wolf Hunter|Digital_Ebook_Pur...|          3|            0|          0|   N|                Y|                Good|This is a ok book...| 2015-08-31|
|         US|   37039571|R1TR7VKTTJV505|B004FGMDOQ|     333044434|Miss Peregrine's ...|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|          Five Stars|Great book! My st...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

None

In [9]:
# Download Data File 01
url_1 = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Digital_Ebook_Purchase_v1_01.tsv.gz"
reviews_1_df = download(url_1)

Retrieving amazon_reviews_us_Digital_Ebook_Purchase_v1_01.tsv.gz
Number of records: 5101693
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|    product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   33605939| RGYFDX8QXKEIR|B007KO2MLO|     328837464|           Big Maria|Digital_Ebook_Pur...|          4|            0|          0|   N|                N|              Quirky|Elmore Leonard me...| 2013-09-09|
|         US|   34058393|R13CBGTMNV9R8Z|B005FLODDE|     764276359|The Woman Who Was...|Digital_Ebook_Pur...|          4|            1|          2|   N|                Y|The Woman Who Was...|This book was ver...| 2013-09-09|
|         US|   39601147| R7DRFHC0F71O0|B00EA3L35O|     535606445|Mary had A Sleepy...|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|This Sleepy Sheep...|I had the opportu...| 2013-09-09|
|         US|   17351407|R27LUKEXU3KBXQ|B00BL3JV50|     240053004|          Starstruck|Digital_Ebook_Pur...|          5|            1|          1|   N|                Y|Steamy and suspen...|What a great read...| 2013-09-09|
|         US|   10463387|R1VXTPUYMNU687|B00CXU7U80|     931529805|The Complete Cona...|Digital_Ebook_Pur...|          5|            1|          2|   N|                N|          Barbarians|Barbarians need l...| 2013-09-09|
|         US|   50484904|R30DKW1GJWLPZC|B004EWGS5G|     442453110|The Middle Passag...|Digital_Ebook_Pur...|          3|            1|          2|   N|                Y|            Menu....|It was okay obvio...| 2013-09-09|
|         US|    7145636|R18DPFG2FALJI9|B00BNRJAT6|     856774152|Hide in Plain Sig...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|        Awesome book|Very interesting ...| 2013-09-09|
|         US|    6285538|R24D677N5WBW5Q|B007FZOXJM|       5589837|Face of Betrayal ...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|    Face of betrayal|Really enjoyed th...| 2013-09-09|
|         US|   10278048|R2FCJ9BQLSIOR3|B00B6AK7LU|     362701357|Final Justice (A ...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|           Very good|I really liked th...| 2013-09-09|
|         US|   16568972|R1R6K4MAKDWTXI|B00EVMMLU0|     342745087|Falling For My Hu...|Digital_Ebook_Pur...|          4|            0|          0|   N|                Y|Ouch! My neck is ...|Reading Callum an...| 2013-09-09|
|         US|   26001763|R3R5DILCWM8J7B|B00E4W4984|     186117550|  Forgetting Tabitha|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|It was a wonderfu...|I really enjoyed ...| 2013-09-09|
|         US|   48203259| RR5K72IZOCOFE|B005A1JBB8|     947574172|The Blacksmith's ...|Digital_Ebook_Pur...|          4|            0|          0|   N|                N|       Worth reading|Although not comp...| 2013-09-09|
|         US|   45028038|R3K9PJU5GLDY3O|B0044DELIQ|     427899617|Vampire Vacation:...|Digital_Ebook_Pur...|          5|            1|          2|   N|                Y|      Very Good Romp|Enjoyed the chara...| 2013-09-09|
|         US|   42554355|R1KTZMCDOJXAEK|B00DJQYATE|     184945574|By the Tail (Coug...|Digital_Ebook_Pur...|          5|            0|          0|   N|                N|    Love this Series|I love the Cougar...| 2013-09-09|
|         US|   11251156|R3SBEH4Y3W9W11|B004XFYNNS|     820449163|The Kingdom (A Fa...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|    Love this author|I really enjoy Cl...| 2013-09-09|
|         US|   44677006|R3GB8WOHSWW2EG|B00A27Z6GO|     969993834|6 Erotic Bedtime ...|Digital_Ebook_Pur...|          3|            0|          0|   N|                Y|    Didn't finish...|I have to admit I...| 2013-09-09|
|         US|   34645512| RDM68WMOEDNRJ|B008EGV4BQ|      36906356|The Purpose Drive...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|Can't unread it now!|Thanx paster Rick...| 2013-09-09|
|         US|   16137650|R3TW70YF2WZK9O|B00655U3WE|     941986263|Insurgent (Diverg...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|Great second inst...|As with divergent...| 2013-09-09|
|         US|    4514126|R39ESX43X1SA5T|B006NG0GXQ|     402593554|Forever His: A Ti...|Digital_Ebook_Pur...|          1|           36|         47|   N|                Y|   Completely absurd|From the time tha...| 2013-09-09|
|         US|   44803855|R3MCA5W3BZ65OU|B008J4RPWA|     804503161|Summerset Abbey: ...|Digital_Ebook_Pur...|          5|            0|          0|   N|                Y|#2, just as good ...|I love the intera...| 2013-09-09|
+-----------+-----------+--------------+----------+--------------+--------------------+--------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

None

In [10]:
# Append the review DataFrames together
reviews_df = reviews_0_df.union(reviews_1_df)
print(f'Total number of records: {reviews_df.count()}')

Total number of records: 17622415

In [11]:
# View schema
reviews_df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: date (nullable = true)

### Look for null values

There were not enough null values to warrant removal transfer to the RDS database again.

In [13]:
print(f'marketplace count = {reviews_df.filter(reviews_df.marketplace.isNotNull()).count()}')

marketplace count = 17622415

In [14]:
print(f'marketplace count = {reviews_df.filter(reviews_df.marketplace.isNotNull()).count()}')
print(f'customer_id count = {reviews_df.filter(reviews_df.customer_id.isNotNull()).count()}')
print(f'review_id count = {reviews_df.filter(reviews_df.review_id.isNotNull()).count()}')
print(f'product_id count = {reviews_df.filter(reviews_df.product_id.isNotNull()).count()}')
print(f'product_parent count = {reviews_df.filter(reviews_df.product_parent.isNotNull()).count()}')
print(f'product_title count = {reviews_df.filter(reviews_df.product_title.isNotNull()).count()}')
print(f'product_category count = {reviews_df.filter(reviews_df.product_category.isNotNull()).count()}')
print(f'helpful_votes count = {reviews_df.filter(reviews_df.helpful_votes.isNotNull()).count()}')
print(f'total_votes count = {reviews_df.filter(reviews_df.total_votes.isNotNull()).count()}')
print(f'vine count = {reviews_df.filter(reviews_df.vine.isNotNull()).count()}')
print(f'verified_purchase count = {reviews_df.filter(reviews_df.verified_purchase.isNotNull()).count()}')
print(f'review_headline count = {reviews_df.filter(reviews_df.review_headline.isNotNull()).count()}')
print(f'review_body count = {reviews_df.filter(reviews_df.review_body.isNotNull()).count()}')
print(f'review_date count = {reviews_df.filter(reviews_df.review_date.isNotNull()).count()}')

marketplace count = 17622415
customer_id count = 17622415
review_id count = 17622415
product_id count = 17622415
product_parent count = 17622415
product_title count = 17622415
product_category count = 17622389
helpful_votes count = 17622381
total_votes count = 17622381
vine count = 17622381
verified_purchase count = 17622381
review_headline count = 17622370
review_body count = 17620384
review_date count = 17620261

### Create and write review_id_table to RDS database
It took 2h 12min to upload 17622415 records.

------------

select count(review_id)

  from review_id_table

In [ ]:
# Create review_id_table DataFrame

review_id_table = reviews_df['review_id', 'customer_id', 'product_id', 'product_parent', 'review_date']
print(f'Total number of records: {review_id_table.count()}')
review_id_table.show()

Total number of records: 17622415
+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R1C5OK9AND7PRP|   35471030|B00AHK07V0|     175130663| 2015-08-31|
|R333RNBQMPVUFT|   26579324|B014085WTQ|     859232728| 2015-08-31|
|R2A2K0GTNSKXM1|    9152364|B0113MFPN0|     411472516| 2015-08-31|
|R365LAQ9REV876|   52087605|B00T8RIK7G|     353828021| 2015-08-31|
|R294OF3SNH6SWZ|   46454660|B00EMXBDMA|     803172158| 2015-08-31|
|R2OMRH58WYEEP9|   33168429|B00GL3OJIY|     325772386| 2015-08-31|
| RBFXYUJZIH5JR|   18546798|B00RW30QE8|     236508296| 2015-08-31|
|R2K2RSBNV42HU4|   47463409|B0101AE85Q|     924272105| 2015-08-31|
|R2CLRFFJ5HJSU3|   11767467|B00IO7QAI2|     393059633| 2015-08-31|
| RS1O7V45AADDO|   14241457|B00PM995TG|     529331494| 2015-08-31|
| RYD2AF3KUC4OL|   52821351|B00K4C4GVI|     310020786| 2015-08-31|
| RHQTCPUF1CXY2|   14416837|B00PUSKG8I|     683060701| 2015-08-31|
|R3371UTDP6I1FU|   17189419|B00FNCSBCE|     813812785| 2015-08-31|
|R2RI2S5Q90RG23|   44043796|B004XFYN9M|     972973628| 2015-08-31|
| RCYE82T9GRT48|   24135769|B00K0OI42W|     994527755| 2015-08-31|
|R12T8WK03VQNC5|   47496659|B00N2HHPQU|     886553830| 2015-08-31|
|R3RVME26X4DGJX|   21051459|B00ZPCLT0S|     296387019| 2015-08-31|
|R3BME7NLVCMJHW|   45295639|B00QSNV82C|     506388384| 2015-08-31|
|R1PKMRYLDMVN2P|   14443051|B00PQL9U4K|      26715694| 2015-08-31|
|R1TR7VKTTJV505|   37039571|B004FGMDOQ|     333044434| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [ ]:
# Write review_id_table to database

review_id_table.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

### Create and write products to RDS database
This took 15min to upload 1387212 records.

------------

select count(product_id)

  from products

In [ ]:
# Create products DataFrame

products = reviews_df['product_id', 'product_title']
products = products.dropDuplicates()
print(f'Total number of records: {products.count()}')
products.show()

Total number of records: 1387212
+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B00BGQ6M0E|Annihilation (Sta...|
|B00ZPWCOUW|Soldiers of Pearl...|
|B00AFXSTM8|Stardust of Yeste...|
|B00ZCYULJY|Cowboy Down Under...|
|B00YKBCE1S|Liquid (Wyvern Se...|
|B003NX7O00|Storm Prey (The P...|
|B012EN6BBM|Claiming His Cowg...|
|B00JCFF090|My Big Round Red ...|
|B00GIZYMVY|Scandal With a Pr...|
|B0145PWTF4|   Biblia Longcrofta|
|B00OQRL4QW|The Change (A Nov...|
|B005LOPNWK|A Good and Perfec...|
|B012QOVWXQ|Twisted Bitch (Si...|
|B00EYFNTIW|          Delusional|
|B00O6V1VH0|Ever After: A Nan...|
|B004H1TLQ2|The Atomic Times:...|
|B007YCJZM6|Eden (The Provide...|
|B00CRWLL7U|CLEP History of t...|
|B00HKZ330W|Does the Atom Hav...|
|B007HB81YC|Hidden (Firelight...|
+----------+--------------------+
only showing top 20 rows

In [ ]:
# Write products to database

products.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=config)

### Create and write customers to RDS database
This took 8min to upload 5300209 records.

------------

select count(customers)

  from customers

In [ ]:
# Create customers DataFrame with customer_count as INT

customer_count = reviews_df.groupBy('customer_id').count()
customer_count = customer_count.withColumn('customer_count',col('count').cast(IntegerType()))
customers = customer_count['customer_id', 'customer_count']
print(f'Total number of records: {customers.count()}')
print(customers.printSchema())
customers.show()

Total number of records: 5300209
root
 |-- customer_id: integer (nullable = true)
 |-- customer_count: integer (nullable = false)

None
+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   41341751|            19|
|   14582882|             1|
|   15158447|             7|
|    3070853|            16|
|   26248773|           518|
|   50058978|             1|
|   16667845|             4|
|   14217455|             1|
|   14754839|             7|
|   35311351|             7|
|   40182046|             1|
|   47574496|             1|
|   43133249|            10|
|   44269342|           317|
|   20688276|             1|
|   12819130|             4|
|    1154193|            21|
|   52427235|             6|
|   15948906|             1|
|   22996409|            13|
+-----------+--------------+
only showing top 20 rows

In [ ]:
# Write customers to database

customers.write.jdbc(url=jdbc_url, table='customers', mode=mode, properties=config)

### Create and write vine_table to RDS database
This took 25min to upload 17622415 records.

------------

select count(vine_table)

  from vine_table

In [ ]:
# Create vine_table DataFrame

vine_table = reviews_df['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine']
print(f'Total number of records: {vine_table.count()}')
vine_table.show()

Total number of records: 17622415
+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R1C5OK9AND7PRP|          5|            0|          0|   N|
|R333RNBQMPVUFT|          5|            0|          0|   N|
|R2A2K0GTNSKXM1|          5|            0|          0|   N|
|R365LAQ9REV876|          3|            0|          0|   N|
|R294OF3SNH6SWZ|          4|            0|          0|   N|
|R2OMRH58WYEEP9|          5|            0|          0|   N|
| RBFXYUJZIH5JR|          5|            0|          0|   N|
|R2K2RSBNV42HU4|          5|            0|          0|   N|
|R2CLRFFJ5HJSU3|          4|            0|          0|   N|
| RS1O7V45AADDO|          4|            0|          0|   N|
| RYD2AF3KUC4OL|          5|            2|          2|   N|
| RHQTCPUF1CXY2|          4|            0|          0|   N|
|R3371UTDP6I1FU|          5|            0|          0|   N|
|R2RI2S5Q90RG23|          5|            0|          0|   N|
| RCYE82T9GRT48|          5|            0|          0|   N|
|R12T8WK03VQNC5|          4|            1|          1|   N|
|R3RVME26X4DGJX|          5|            0|          0|   N|
|R3BME7NLVCMJHW|          4|            0|          0|   N|
|R1PKMRYLDMVN2P|          3|            0|          0|   N|
|R1TR7VKTTJV505|          5|            0|          0|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [ ]:
# Write vine_table to database

vine_table.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)